<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />

<!-- les css -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<!-- les scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>

<title>Bank</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" th:href="@{/home}">Bank</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarText" aria-controls="navbarText"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse pull-right" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<li sec:authorize="isAnonymous()" class="nav-item"><a
						class="nav-link" th:href="@{/account.create}">Inscription</a></li>

					<li sec:authorize="isAnonymous()" class="nav-item"><a
						class="nav-link" th:href="@{/login}">Connexion</a></li>

					<li sec:authorize="isAuthenticated()" class="nav-item"><a
						class="nav-link" th:href="@{/operations}">Crédit</a></li>

					<li sec:authorize="isAuthenticated()" class="nav-item"><a
						class="nav-link" th:href="@{/operations}">Débit</a></li>

					<li sec:authorize="isAuthenticated()" class="nav-item"><a
						class="nav-link" th:href="@{/profil}">Profil</a></li>
				</ul>
				<form sec:authorize="isAuthenticated()"
					class="form-inline my-2 my-md-0" th:action="@{/logout}">
					<button class="btn btn-primary my-2 my-sm-0" type="submit">Déconnexion</button>
				</form>
			</div>
		</div>
	</nav>

	<div class="container">
		<h1>Création compte</h1>
		<form action="#" th:action="@{/account.store}"
			th:object="${account}" method="POST">
			<div class="col-sm-4">
				<label for="userName">Nom d'utilisateur</label> <input type="text"
					class="form-control" th:field="*{userName}" required />
			</div>
			<div class="col-sm-4">
				<label for="password">Mot de passe</label> <input type="password"
					class="form-control" th:field="*{password}" required />
			</div>
			<div class="col-sm-4">
				<label for="balance">Montant</label> <input type="number"
					class="form-control" th:field="*{balance}" required />
			</div>
			<div class="col-sm-4">
				<label for="name">Nom</label> <input type="text"
					class="form-control" th:field="*{name}" required />
			</div>
			<div class="col-sm-4">
				<label for="firstName">Prénom</label> <input type="text"
					class="form-control" th:field="*{firstName}" required />
			</div>
			<div class="col-sm-4">
				<label for="profession">Proféssion</label> <input type="text"
					class="form-control" th:field="*{profession}" required />
			</div>
			<div class="col-sm-4">
				<label for="address">Adresse</label> <input type="text"
					class="form-control" th:field="*{address}" required />
			</div>
			<div class="form-row">
				<button type="reset" class="btn btn-default mr-5 ml-5">Annuler</button>
				<button sec:authorize="isAnonymous()" type="submit"
					class="btn btn-primary ml-5 mr-5">Enregistrer</button>
			</div>
		</form>

	</div>

	<footer class="footer">
		<div class="container">
			<span class="text-muted">© TOC Bank 2021</span>
		</div>
	</footer>

</body>
</html>