<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />

<!-- les css -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<!-- les scripts -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/d3c2ba48a8.js"
	crossorigin="anonymous"></script>

<title>Bank</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" th:href="@{/home}">Bank</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarText" aria-controls="navbarText"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse pull-right" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<li sec:authorize="isAnonymous()" class="nav-item"><a
						class="nav-link" th:href="@{/account.create}">Inscription</a></li>

					<li sec:authorize="isAnonymous()" class="nav-item"><a
						class="nav-link" th:href="@{/login}">Connexion</a></li>

					<li sec:authorize="isAuthenticated()" class="nav-item"><a
						class="nav-link" th:href="@{/history}">Mes opérations</a></li>

					<li sec:authorize="isAuthenticated()" class="nav-item"><a
						class="nav-link" th:href="@{/operation}">Opération</a></li>

					<li sec:authorize="isAuthenticated()" class="nav-item"><a
						class="nav-link" th:href="@{/profil}">Profil</a></li>
				</ul>
				<form sec:authorize="isAuthenticated()"
					class="form-inline my-2 my-md-0" th:action="@{/logout}">
					<button class="btn btn-primary my-2 my-sm-0" type="submit">Déconnexion</button>
				</form>
			</div>
		</div>
	</nav>


	<div class="container">
		<table class="table table-bordered" style="width: 100%">
			<thead class="bg-primary">
				<tr>
					<th>Solde</th>
					<th>Montant</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody class="text-center">
				<tr>
					<td id="balance"></td>
					<td>
						<input type="number" id="amount">
					</td>
					<td>
						<button class="btn btn-primary ml-5 mr-5" id="crediter">Créditer</button>
						<button class="btn btn-danger ml-5 mr-5" id="debiter">Débiter</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<footer class="footer">
		<div class="container">
			<span class="text-muted">© TOC Bank 2021</span>
		</div>
	</footer>

</body>

<script type="text/javascript">
	$(document)
			.ready(
					function() {
						var accountId = 0;
						$.get("/account/logged", function()
						{
							
						}).done(function (data) 
						{
							accountId = data.accountNumber;
							var solde = data.balance > 0 ? '<span class="text-success">' + data.balance + ' €' + '</span>' : '<span class="text-danger">' + data.balance + ' €' + '</span>';
							$('#balance').append(
								solde
							);
						}).fail(function (error)
						{
							console.log('failed');
						});

						// Crédit
						$('#crediter').on("click", function () 
						{
							var amount = $("#amount").val();
							$.post("/account/credit/" + amount + "/" + accountId + "/" + accountId, function()
							{
								
							}).done(function(data)
							{
								var xml = $(data);
								var balance = xml.find('balance');
								if (balance.text() > 0) {
									$('#balance').html('<span class="text-success">' + balance.text() + ' €' + '</span>');
								} else {
									$('#balance').html('<span class="text-danger">' + balance.text() + ' €' + '</span>');
								}
							}).fail(function()
							{
								console.log('failed');
							});
						});

						// Débit
						$('#debiter').on("click", function () 
						{
							var amount = $("#amount").val();
							$.post("/account/debit/" + amount + "/" + accountId + "/" + accountId, function()
							{
								
							}).done(function(data)
							{
								var xml = $(data);
								var balance = xml.find('balance');
								if (balance.text() > 0) {
									$('#balance').html('<span class="text-success">' + balance.text() + ' €' + '</span>');
								} else {
									$('#balance').html('<span class="text-danger">' + balance.text() + ' €' + '</span>');
								}
							}).fail(function()
							{
								console.log('failed');
							});
						});
					});
</script>

</html>